---
---

@mixin rounded($radius:4px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
$foreground: #A9B7C6;
$background: #2B2B2B;
$selectionForeground: #A9B7C6;
$selectionBackground: #214283;
$operators: #A9B7C6;
$strings: #A5C25C;
$names: #88be05;
$keywords: #CB772F;
$varAndProp: #A9B7C6;
$numbers: #6897BB;
$tag: #f1c829;
$attributes: #9876AA;
$comments: #75715e;
$linenos: #A9B7C6;
.highlight {
  margin-bottom: 1.5em;
  color: $foreground;
  background-color: $background;
  @include rounded(4px);
  pre {
    position: relative;
    margin: 0;
    padding: 1em;
    overflow-x: auto;
    word-wrap: normal;
    border: none;
    white-space: pre;
    background-color: #333;
    color: #ddd !important;
    code {
      white-space: pre;
      color: #ddd;
    }
  }
  pre::-webkit-scrollbar {
    height: 10px;
    background-color: #34362e;
    border-radius: 0 0 4px 4px;
  }
  pre::-webkit-scrollbar-thumb {
    background-color: #555;
    @include rounded(4px);
  }
  ::selection {
    background-color: $selectionBackground;
    color: $selectionForeground;
  }
}
.highlight > pre {
  -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.highlight,
img,
p > nobr > code,
li > code,
h5 > code,
p > pre,
p > code,
.note > code {
  color: white;
  background-color: #333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
}


/* line numbers */
.lineno{ border-right: dashed 1px $linenos !important; color: $linenos; padding-right: 5px; padding-left: 0 !important;}

.highlight { background-color: #002b36; color: #fff }
.c { color: #4dcbf3 } /* Comment */
.err { color: #a9e8e8 } /* Error */
.g { color: #a9e8e8 } /* Generic */
.k { color: #c8e601 } /* Keyword */
.l { color: #a9e8e8 } /* Literal */
.n { color: #a9e8e8 } /* Name */
.o { color: #c8e601 } /* Operator */
.x { color: #cb4b16 } /* Other */
.p { color: #a9e8e8 } /* Punctuation */
.cm { color: #4dcbf3 } /* Comment.Multiline */
.cp { color: #c8e601 } /* Comment.Preproc */
.c1 { color: #4dcbf3 } /* Comment.Single */
.cs { color: #c8e601 } /* Comment.Special */
.gd { color: #50B600 } /* Generic.Deleted */
.ge { color: #a9e8e8; font-style: italic } /* Generic.Emph */
.gr { color: #dc322f } /* Generic.Error */
.gh { color: #cb4b16 } /* Generic.Heading */
.gi { color: #c8e601 } /* Generic.Inserted */
.go { color: #a9e8e8 } /* Generic.Output */
.gp { color: #a9e8e8 } /* Generic.Prompt */
.gs { color: #a9e8e8; font-weight: bold } /* Generic.Strong */
.gu { color: #cb4b16 } /* Generic.Subheading */
.gt { color: #a9e8e8 } /* Generic.Traceback */
.kc { color: #cb4b16 } /* Keyword.Constant */
.kd { color: #268bd2 } /* Keyword.Declaration */
.kn { color: #c8e601 } /* Keyword.Namespace */
.kp { color: #c8e601 } /* Keyword.Pseudo */
.kr { color: #268bd2 } /* Keyword.Reserved */
.kt { color: #dc322f } /* Keyword.Type */
.ld { color: #a9e8e8 } /* Literal.Date */
.m { color: #50B600 } /* Literal.Number */
.s { color: #50B600 } /* Literal.String */
.na { color: #a9e8e8 } /* Name.Attribute */
.nb { color: #e6af01 } /* Name.Builtin */
.nc { color: #268bd2 } /* Name.Class */
.no { color: #cb4b16 } /* Name.Constant */
.nd { color: #268bd2 } /* Name.Decorator */
.ni { color: #cb4b16 } /* Name.Entity */
.ne { color: #cb4b16 } /* Name.Exception */
.nf { color: #268bd2 } /* Name.Function */
.nl { color: #a9e8e8 } /* Name.Label */
.nn { color: #a9e8e8 } /* Name.Namespace */
.nx { color: #a9e8e8 } /* Name.Other */
.py { color: #a9e8e8 } /* Name.Property */
.nt { color: #268bd2 } /* Name.Tag */
.nv { color: #268bd2 } /* Name.Variable */
.ow { color: #c8e601 } /* Operator.Word */
.w { color: #a9e8e8 } /* Text.Whitespace */
.mf { color: #50B600 } /* Literal.Number.Float */
.mh { color: #50B600 } /* Literal.Number.Hex */
.mi { color: #50B600 } /* Literal.Number.Integer */
.mo { color: #50B600 } /* Literal.Number.Oct */
.sb { color: #586e75 } /* Literal.String.Backtick */
.sc { color: #50B600 } /* Literal.String.Char */
.sd { color: #a9e8e8 } /* Literal.String.Doc */
.s2 { color: #50B600 } /* Literal.String.Double */
.se { color: #cb4b16 } /* Literal.String.Escape */
.sh { color: #a9e8e8 } /* Literal.String.Heredoc */
.si { color: #50B600 } /* Literal.String.Interpol */
.sx { color: #50B600 } /* Literal.String.Other */
.sr { color: #dc322f } /* Literal.String.Regex */
.s1 { color: #50B600 } /* Literal.String.Single */
.ss { color: #50B600 } /* Literal.String.Symbol */
.bp { color: #268bd2 } /* Name.Builtin.Pseudo */
.vc { color: #268bd2 } /* Name.Variable.Class */
.vg { color: #268bd2 } /* Name.Variable.Global */
.vi { color: #268bd2 } /* Name.Variable.Instance */
.il { color: #50B600 } /* Literal.Number.Integer.Long */
.l-Scalar-Plain {color: $names}
