---
layout: page
lang: en
ref: index
---

 <div class="pitch">
   <h2>Welcome</h2>
   <p><b>Sysadmin.cool</b> provides documentation and tutorials to establish an administration and monitoring of your computer . It will aim to collect and centralize information necessary for network administrators and colleagues.</p>
   <p>However, do not hesitate to ask on dedicated forums if you encounter problems. There are also IRC channels to get help. Most people that keep these projects are volunteers and do not necessarily have the resources to respond immediately to your questions. So be patient.</p>
    <h2>Servers :</h2>
    <p>You will be able to find mainly tutorials on how to install , configure, and connect the following projects :</p>

    <ul>
        <li><b style="font-size: medium;">GLPI</b></li>
      <p>GLPI is a free software asset management. It allows you to inventory phones, serverq, through printers to end- terminals. In short, everything who's on your network !</br><a href="http://glpi-project.org">Official Website</a></p>
      <li><b style="font-size: medium;">FusionInventory</b></li>
      <p>FusionInventory lets through light agents, to inventory your IT assets. Depending on your schedule, desires, it put maximum in GLPI automatically.</br><a href="http://fusioninventory.org">Official Website</a></p>
      <li><b style="font-size: medium;">Shinken</b></li>
      <p>Shinken allows monitoring your resources, servers and services. It can operate independently of GLPI or not and report on any discrepancies.</br><a href="http://www.shinken-monitoring.org">Official Website</a></p>
      <li><b style="font-size: medium;">Alignak</b></li>
      <p>Alignak allows monitoring your resources, servers and services , ... Can operate independently of GLPI. Its main goal is stability.</br><a href="http://alignak-monitoring.github.io">Official Website</a></p>
      <li><b style="font-size: medium;">Glpi-monitoring</b></li>
      <p>This plugin for GLPI can display graphical views of the data of a monitoring server. It allows to create and edit your hosts, commands, catalogs from GLPI.</br><a href="https://github.com/ddurieux/glpi_monitoring">Official Website</a></p>
    </ul>

    <p>We also try to offer tutorials in both English and French.</p>

    <p>There will be also articles on the latest releases of the various projects, on future features, other servers or related tools, and more.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
<div class="well">
  <h2>News</h2>
{% assign news=site.categories.news | where:"lang", page.lang %}
{% for post in news %}
  <h2 class="post-title">
    <a href="{{post.url | prepend:site.baseurl | prepend:site.url}}">
      {{ post.title }}
    </a>
  </h2>

  <div class="post-meta">
  <div class="post-time">
    <i class="fa fa-calendar"></i>
    <time>{{ post.date | date_to_string }}</time>
  </div>
  <ul>
    {% for tag in post.tags %}
    <li><a href="{{site.baseurl | prepend:site.url}}/tag/{{ tag }}">{{ tag }}</a></li>
    {% endfor %}
  </ul>
</div>

  <div class="post-descr">
    <p>
      {{ post.description }}
    </p>
  </div>
{% endfor %}

</div>
    </div>
    <div class="col-md-6">
            <div class="well">
                <h2>Last Tutorials</h2>
{% assign tutos=site.categories.tutoriel | where:"lang", page.lang %}
{% for post in tutos %}
  <h2 class="post-title">
    <a href="{{post.url | prepend:site.baseurl | prepend:site.url}}">
      {{ post.title }}
    </a>
  </h3>

  <div class="post-meta">
  <div class="post-time">
    <i class="fa fa-calendar"></i>
    <time>{{ post.date | date_to_string }}</time>
  </div>
  <ul>
    {% for tag in post.tags %}
    <li><a href="{{site.baseurl | prepend:site.url}}/tag/{{ tag }}">{{ tag }}</a></li>
    {% endfor %}
  </ul>
</div>

  <div class="post-descr">
    <p>
      {{ post.description }}
    </p>
  </div>
  {% endfor %}

            </div>
    </div>
</div>
<div>

