<html lang="en">

<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
  <title>{{ site.name }}</title>
  <meta name="theme-color" content="#222222" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{site.baseurl | prepend:site.url}}/js/jquery.min.js"></script>
  <script src="{{site.baseurl | prepend:site.url}}/js/bootstrap.min.js"></script>
  <script src="{{site.baseurl | prepend:site.url}}/js/header.js"></script>
  <script src="{{site.baseurl | prepend:site.url}}/js/toc.js"></script>
  <link href="{{site.baseurl | prepend:site.url}}/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{site.baseurl | prepend:site.url}}/css/theme.css" rel="stylesheet">
  <link href="{{site.baseurl | prepend:site.url}}/css/syntax.css" rel="stylesheet">
  <link href="{{site.baseurl | prepend:site.url}}/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link rel="icon" href="{{site.baseurl | prepend:site.url}}/favicon.ico" type="image/ico">
   {% if page.url == "/404.html" %}
     <meta http-equiv="refresh" content="5; url=/">
   {% endif %}
  {% include google-analytics.html %}
</head>

<body>

  {% include yandex-metrica.html %}

 <script type="text/javascript">
  WebFontConfig = {
    google: {
      families: ['Ubuntu::latin']
    }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
</script>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
	<a class="navbar-brand" href="{{site.baseurl | prepend:site.url}}/{{ site.index[page.lang] }}">{{ site.name }}</a>
        <span style="float: inherit;">
          <ul class="nav nav-tabs">
          {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
          {% for post in posts %}
           <li>
               <a href="{{ site.baseurl | prepend:site.url}}{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>
           </li>
          {% endfor %}
          
          {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
          {% if page.lang %}
          {% for page in pages %}
           <li>
               <a href="{{ site.baseurl | prepend:site.url}}{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
           </li>
          {% endfor %}
          {% endif %}
          </ul>
        </span>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{site.baseurl | prepend:site.url}}/">/home</a></li>
          <li><a href="{{site.baseurl | prepend:site.url}}/archive.html">/archive</a></li>
          <li><a href="{{site.baseurl | prepend:site.url}}/tags.html">/tags</a></li>
          <li><a href="{{site.baseurl | prepend:site.url}}/about.html">/about</a></li>
        </ul>
      </div>
    </div>
  </nav>
