<div class="sidebar ">
  <h2>Recent Posts</h2>
  {% assign posts=site.posts | where:"lang", page.lang %}
  <ul>
    {% for post in posts limit:5 %}
    <li><a href="{{ site.baseurl | prepend:site.url }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="sidebar">
  <h2>Tags</h2>
  <ul>
    {% for tag in site.tags %}
      <li><a href="{{ site.baseurl | prepend:site.url }}/tag/{{ tag[0] }}">{{ tag[0] }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="sidebar">
  <a href="{{ site.baseurl | prepend:site.url }}/tools.html">Additional tools</a>
</div>
