{% include header.html %}

<div class="wrapper">
  <div class="content">
    <div class="container container-center">
      <div class="row">
        <div class="col-md-8">
          <div class="well">
            <h2>Tag : <em>{{page.key}}</em></h2>
              {% for post in site.tags[page.key] %}
              <p><a href="{{ site.baseurl | prepend:site.url }}{{ post.url }}">{{ post.title }}</a></p>
              {% endfor %}
          </div>
        </div>
        <div class="col-md-4 hidden-xs">
          {% include sidebar.html %}
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
</div>
