{% include header.html %}

<div class="wrapper">
  <div class="content">
    <div class="container container-center">
      <div class="row">
        <ul class="nav nav-tabs">
          <li role="presentation">
            <a href="http://algorys.github.io/sysadmin/2016/03/gitlab-community-installation">FRA</a>
          </li>
          <li role="presentation">
            <a href="http://algorys.github.io/sysadmin/2016/03/gitlab-community-installation">ENG</a>
          </li>
                                                  </ul>
        <div class="col-md-8">
          <div class="well">
            {{ content }}
          </div>
        </div>
        <div class="col-md-4 hidden-xs well-side">
          {% include sidebar.html %}
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
</div>
