{% include header.html %}

<div class="wrapper">
  <div class="content">
    <div class="container container-center">
      <div class="row">
        <div class="col-md-9">
          <div class="article">
            <ul class="nav nav-tabs">
            <div class="well">
                <h1><a href="{{ site.url | append:site.baseurl | append:page.url }}">{{ page.title }}</a></h1>

              <div class="post-meta">
                <div class="post-time">
                  <i class="fa fa-calendar"></i>
                  <time>{{ page.date | date_to_string }}</time>
                </div>
				<div class="post-time">
					{% if page.lang == "en" %} 
                    <span class="author">by <b>{{ page.author }}</b></span>
					{% elsif page.lang == "fr" %}
                    <span class="author">par <b>{{ page.author }}</b></span>
					{% else %}
					<span class="author">{{ page.lang }}</span>
					{% endif %}
				</div>
                <ul>
                  {% for tag in page.tags %}
                    <li><a href="{{ site.url | append:site.baseurl }}/tag/{{ tag }}">{{ tag }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              <div class="post-content">
                <div id="toc" class="toc"></div>
                {{ content }}

        <hr style="border-top:1px solid #48AAFF;">
    <div class="share">
          <a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" title="Share on Twitter">
              <span>
                  <i class="fa fa-twitter-square"></i> Tweet
              </span>
          </a>
    </div>
              </div>
              {% if page.comments %}
              <div id="disqus_thread">
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-3 hidden-xs well">
          {% include sidebar.html %}
        </div>
      </div>
    </div>
    {% include disqus-comments.html %}
  </div>
  {% include footer.html %}
</div>
